body{
    
  background-Image: url("/asteroidbelt.jpg"); };

font{
  color: antiquewhite;
}
.whiteFont{
  color: antiquewhite;
}
    .dynamyte{
      margin: 0, auto;
    }
    .paddedCard{
      margin-bottom: 30px;
      background-color: antiquewhite
    }
    .titleNeo{
      background-color: saddlebrown;
      color: white
    }